
<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>404 Page</title>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
  </head>
  <style>
    html{height: 100%;background: #e9ecef;}
    .content{ margin-top:8%;display: flex;flex: 1;justify-content: center;}
  </style>
  <body>
    <div class="content">
        <img class="mn oh dq t u gp ak gy" width="845" height="503" role="presentation" src="https://miro.medium.com/max/1056/1*KOAfAOQ9FwAp9i2muTkGWw.png">
    </div>
	
  </body>
</html>