
<div class="footer_area">
    <!-- Footer -->
    <footer class="footer text-center">
        <div class="container">
            <div class="row">

                <!-- Footer About Text -->
                <div class="col-lg-6">
                    <h4 class="text-uppercase mb-4">혼달 :<br>혼자서도 차려먹는 레시피</h4>
                    <p class="lead mb-0">혼자서도 간단하게 요리하고<br>기분 전환하고 싶은 특별한 날에도<br>집에서 맛있는 요리를 해먹자!</p>
                </div>

                <!-- Footer Location -->
                <div class="col-lg-6">
                    <h4 class="text-uppercase mb-4">프로젝트 팀원</h4>
                    <p class="lead mb-0">20194586 이용우
                        <br>20194170 박종우
                        <br>20194151 천지운
                        <br>20194174 최홍준</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Copyright Section -->
    <section class="copyright py-4 text-center text-white">
        <div class="container">
            <small>Copyright &copy; Dongyang Mirea University 2019</small>
        </div>
    </section>
</div>