<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav" style="z-index:10000;">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/main">혼달: 혼자서도 차려먹는 레시피  </a>
 
        <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <!--<li class="nav-item mx-0 mx-lg-1">-->
                    <!--<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/admin/page/1">오늘의 레시피</a>-->
                <!--</li>-->
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/recipe/total">유저 레시피 랭킹</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/mongo/page/1">유저 레시피 공유</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/openApi/page/1">혼달 추천 레시피</a>
                </li>
                <%if(session.grade == 0){
                %>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/manage/member">관리자</a>
                </li>
                <%}%>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/logout">로그아웃</a>
                </li>
            </ul>
        </div>
    </div>

</nav>